body{
	margin: 0px;
	padding: 0px;
	font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif;
}
.menu{
	background: url('img/ItalianPizza.jpeg') no-repeat center;
	padding: 250px;

}

.container: {
	max-width: 960px;
	margin: 0 auto;
	font-size:24px;
	background: #f9f9f9;
	padding: 40px;
}



.parallax {
    padding: 325px;
    margin-top: 80px;
    background: transparent;

	
}

.icon{
	float: left;
	margin-left: 20px;
	background:url('img/valenceicon.png') no-repeat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: transparent;
  float: right;
  font-size: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  background-color: #111;
}


.bigName{
	margin:50;
}	

.box2 {
	margin:10px;
	padding: fixed;
}

.reserve{
	margin:60px 70px;
	padding: 20px;
	height: 300px;
	width: 500px;
	font-size: 25px;
	box-sizing: border-box;

}


.button {
  background: transparent;
  border: none;
  color: grey;
  border: 2px solid grey;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  width: 250px;
  cursor:pointer;
  transition: all 0.5s;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



.about{
	margin: 50px 80px;
  	padding:10px;
  	height: 300px;
	width: 700px;
	font-size: 25px;
  	position: relative;
  	display: inline-block;
	}


.special {
	z-index: 2;
	position: relative;
	color: white;
	font-size: 100px;
	text-align: center;
	padding: 0;
	margin:0;

}
* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
	float: left;
	padding: 0px 10px;
	margin-left: -5px;
  	width: 25%;
  	height: 300px;
  	align-content: center;
  	display: inline-block;
  	font-size: 20px;
 
 
}





.column2 {
 	 float: left;
 	padding: 0px 10px;
 	margin-top: 110px;
	margin-left: -5px;
	margin-bottom: 30px;
  	width: 25%;
  	height: 300px;
  	align-content: center;
  	display: inline-block;
	font-size: 20px;

}


.column p{
	text-align: center;
	margin-left: 20px;
	margin-top: 10%;
}
.column h2{
	margin-top: 30%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
h2{
	text-align: center;
	  font-family: 'Libre Baskerville';
}

/* Create four equal columns that floats next to each other */




.column2 p{
	text-align: center;
	margin-left: 20px;
	margin-top: 10%;
}
.column2 h2{
	margin-top: 30%;
}


/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}


.menus h1{
	font-size: 80px;
	font-weight: bold;

}

.ContactUs{
	margin-left: 500px;

}